h1 {
    text-align: center;
    padding-top:4%;
}

h5 {
    text-align: center;
    padding-top:0%;
}

h6{
    text-align: center;
    padding-top:2%;
}
.background-custom{
    background-color: #e7ebf0;
    padding-bottom: 4%;
}

.bg-primary {
    background-color: #e7ebf0!important;
}