<div class="container-sm" class="background-custom">
    <div class="row">
      <h1>Add trip</h1>
      <h5>Here you can document a trip!</h5>
    </div>
  </div>
  <div class="container-sm mt-5">
    <div class="row">
            <h5>First select your input mask:</h5>
            <div class="row">
                <div class="col-sm mt-5">
                  <div class="d-grid mx-auto">
                  <button type="button" (click)="vehicleTamplate()" class="btn btn-outline-dark">Vehicle template</button>
                  </div> 
                </div>
                <div class="col-sm mt-5">
                  <div class="d-grid mx-auto">
                    <button type="button" class="btn btn-outline-dark" routerLink="/newTripCar">Manual input</button>
                    </div> 
                </div>
              </div>
            
    </div>
</div>