<body class="wrapper">
    <form class="container-sm" >
        <h2>My account</h2>
        <div class="costum-container bg-white">
            <div class="row mb-3" >
                <label for="inputEmail3" class="col-sm-2 col-form-label">Last name:</label>
                <div class="col-sm-10">
                    <input #useremailbox  [(ngModel)]="userlastname" [ngModelOptions]="{standalone: true}" type="email" class="form-control" required>
                </div>
            </div>
            <div class="row mb-3" >
                <label for="inputEmail3" class="col-sm-2 col-form-label">First name:</label>
                <div class="col-sm-10">
                    <input #useremailbox  [(ngModel)]="userfirstname" [ngModelOptions]="{standalone: true}" type="email" class="form-control" required>
                </div>
            </div>
            <div class="row mb-3" >
                <label for="inputEmail3" class="col-sm-2 col-form-label">Email:</label>
                <div class="col-sm-10">
                    <input #useremailbox  [(ngModel)]="useremail" [ngModelOptions]="{standalone: true}" type="email" class="form-control" required>
                </div>
            </div>
        </div>
    </form>
  </body>
